
<html>
    <head>
        <base href="/">
    </head>
<p>
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <span>My App</span>&nbsp;&nbsp;
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/overview_analytics">Overview Analytics</a>
      
      <span class="example-spacer"></span>
      
    </mat-toolbar>
  </p>
</html>
