a:hover{
    color: white !important;
  }

  canvas{
    width: 1245px !important;
    height: 600px !important;
  }

  #pieChartCountry{
  width: 791px !important;
  height: 396px !important;
  }

  